
[[kernelarch]]
name = 'arm64'
  [[kernelarch.debianarch]]
  name = 'arm64'

[[kernelarch]]
name = 'x86'
  [[kernelarch.debianarch]]
  name = 'amd64'

[[featureset]]
name = 'none'

[build]
compiler = 'gcc'

[relations.image]
depends = [
  'dracut | linux-initramfs-tool',
]
recommends = [
  'apparmor',
]
breaks = [
  'fwupdate (<< 12-7)',
  'wireless-regdb (<< 2019.06.03-1~)',
]
